@model IEnumerable<VeloTours.Models.Country>
@using VeloTours.Models;

@*<h2>Segment Area Overview</h2>*@
@foreach (Country country in Model.OrderBy(x => x.Name))
{
    <h3>
        <a href="@Url.Action("Update", new { athlete = ViewBag.Athlete, country = country.CountryID })" style='vertical-align:middle;'><i class='icon-refresh'></i></a>
        @country.Name
    </h3>   
    
    foreach (Region region in country.Regions.OrderBy( x => x.Info.Name))
    {
        <h4>
            <a href="@Url.Action("UpdateRegion", new { athlete = ViewBag.Athlete, region = region.RegionID})" style='vertical-align:middle;'><i class='icon-refresh'></i></a>
            @Html.ActionLink(region.Info.Name, "Index", "Region", new { athlete = ViewBag.Athlete, region = region.RegionID }, null)
        </h4>
        
        foreach (SegmentArea area in region.SegmentAreas) 
        {
            @Html.ActionLink(area.Info.Name, "Index", "Area", new { athlete = ViewBag.Athlete, area = area.SegmentAreaID }, null);
            @Html.DisplayText(",&nbsp;");
        }
    }
}
