@using System.Collections;
@using PagedList; 
@using PagedList.Mvc; 
@using VeloTours.Models;
@using VeloTours.Models.Extensions;

<!-- import the included stylesheet for some (very basic) default styling -->
@*<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    int athleteID = ViewBag.Athlete;
    var leaderBoardList = @Model.LeaderBoard;
    var style = "";
}

@*tablesorter*@
<table class="hidden-phone table-striped table-bordered table-condensed" style="table-layout: fixed; overflow: hidden;">
    <thead>
        <tr>
            <th class="right" title="Rank">rank</th>
            <th style="vertical-align:top" title="Athlete name">name</th>
            <th class="right" title="Athlete's yellow points">yellow</th>
            <th class="right" title="Athlete's green points">green</th>
            <th class="right" title="Athlete's polka-dot points">polka-<br />dot</th>
            <th class="right" title="Total number the segments has been ridden by uou">#</th>
            <th class="right" title="Your minimum time on the segment">time<br />min</th>
            <th class="right" title="Your percentil-90 time on the segment">time<br />p-90</th>
            <th class="right" title="Your max on the segment">time<br />max</th>
            <th class="right" title="Your median on the segment">time<br />med</th>
            <th class="right" title="Your average on the segment">time<br />avg</th>
            <th class="right" title="Your standard deviation on the segment">time<br />stdev</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LeaderBoard lb in leaderBoardList) {
        <tr>
            <td class="right">@lb.Rank</td>
            <td style="@style">@lb.Athlete.Name</td>
            <td class="right">@lb.Yellow</td>
            <td class="right">@lb.GreenPoints</td>
            <td class="right">@lb.PolkaDotPoints</td>
            <td class="right">@lb.NoRidden</td>
            <td class="right">@lb.Min</td>
            <td class="right">@lb.Percentile90</td>
            <td class="right">@lb.Max</td>
            <td class="right">@lb.Median</td>
            <td class="right">@lb.Average</td>
            <td class="right">@lb.Stdev</td>
        </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)@Model.LeaderBoard, 
    page => Url.Action("Index", new { lbPage = page, athlete = ViewBag.Athlete, area = ViewBag.Area, segment = ViewBag.Segment }), 
    PagedListRenderOptions.DefaultPlusFirstAndLast)
