@model VeloTours.Models.SegmentViewModel
@using VeloTours.Models;
@using VeloTours.Helpers;

@{
    var isClimb = @Model.IsClimb;
    var yellow = @Model.YellowYersey;
}

@helper DisplayAthlete(VeloTours.Models.LeaderBoard lboard) {
    <b>@HtmlVeloHelpers.AtheleteNameLink(lboard)</b>
    <br />@String.Format("Speed: {0:#0.#} km/h", @Model.CalculateSpeed(@Model.YellowYersey))
    <br />@String.Format("Ridden: {0}", @lboard.NoRidden)
}

<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/Content/images/yersey/yellow.png" />

                @if (isClimb)
                {
                    <img src="~/Content/images/yersey/polkadot.png" />
                }
                else
                {
                    <img src="~/Content/images/yersey/green.png" />
                }
            </td>
            <td class="top">
                @DisplayAthlete(yellow)                
            </td>
        </tr>
    </tbody>
</table>
