@model VeloTours.Models.SegmentViewModel
@using VeloTours.Models;
@using VeloTours.Helpers;

@{
    var isClimb = @Model.IsClimb;
    var yellow = @Model.YellowYersey;
}

<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/Content/images/yersey/yellow.png" />
                @if (isClimb)
                {
                    <img src="~/Content/images/yersey/polkadot.png" />
                }
                else
                {
                    <img src="~/Content/images/yersey/green.png" />
                }
            </td>
            <td style="vertical-align:top">
                <b>@Html.Raw(HtmlFormatters.AthleteNameLink(yellow.Athlete.Name, yellow.AthleteID))</b><br />
                Speed: @String.Format("{0:#0.#} km/h", @Model.CalculateSpeed(yellow))<br />
                Ridden: @yellow.NoRidden<br />
            </td>
        </tr>
    </tbody>
</table>
