@using VeloTours.Models;
@{
    Statistics info = @Model.Info;
    AthleteRideInfo athleteInfo = @Model.Athlete;
}

@*Hide things with CSS (area/segment)*@

@*tablesorter*@
<table class="hidden-phone table-striped table-bordered table-condensed" style="table-layout: fixed; overflow: hidden;">
    <thead>
        <tr>
            <td class="right">Yellow Points</td>
            <td class="right">Green Points</td>
            <td class="right">Polkadot Points</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="right">@athleteInfo.UsersChangePos</td>
            <td class="right">@athleteInfo.UsersChangePos</td>
            <td class="right">@athleteInfo.UsersChangePos</td>
        </tr>
    </tbody>
</table>
