@model VeloTours.ViewModels.SegmentAreaViewModel
@using VeloTours.Models;
@using VeloTours.Helpers;

@{
    int areaID = @Model.SegmentArea.SegmentAreaID;
    int athleteID = ViewBag.Athlete ?? 0;

    bool hasLeaderBoard = (@Model.SegmentArea.Result != null && @Model.LeaderBoard != null && @Model.LeaderBoard.Count > 0);
}

<h2>@Model.Info.Name</h2>
<p>@Model.Info.Description</p>

@if (hasLeaderBoard) 
{
    <h3>Yersey</h3>
    @RenderPage("~/Views/Area/YerseyPart.cshtml", @Model)
}

<h3>Segments in the areas</h3>
@RenderPage("~/Views/Area/SegmentsPart.cshtml", @Model)

@if (hasLeaderBoard) 
{
    <h3>Athlete's Info</h3>@*
    @RenderPage("~/Views/Area/AthleteInfoPart.cshtml", @Model)
    <p>@Model.ImprovementHint</p>*@

    <h3>LeaderBoard</h3>
    @RenderPage("~/Views/Ride/LeaderboardPart.cshtml", @Model)
}
    
<p>
    Go back to area: 
    @Html.ActionLink(@Model.SegmentArea.Region.Info.Name, "Index", "Region", routeValues: new { region = @Model.SegmentArea.RegionID, athlete = athleteID }, htmlAttributes: null)
</p>

<h3>Admin</h3>
@Html.ActionLink("Update from Strava", "Update", routeValues: new { athlete = athleteID, area = areaID, effort = false })<br />
@Html.ActionLink("Update from Strava w/efforts", "Update", routeValues: new { athlete = athleteID, area = areaID, effort = true, }, htmlAttributes: null)<br />


<script>

    var athleteId = @athleteID
    $('.segmentLink').each(function () {
        var links = '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://www.strava.com/segments/' + $(this).data("segmentid") + '" title="View segment on Strava (external link)">View on Strava</a><br/>';
        links += '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://www.jonathanokeeffe.com/strava/segmentDetails.php?segmentId=' + $(this).data("segmentid") + '" title="View as much detail about this segment as you could possible imagine (external link)">O\'Keeffe\'s Segment History</a><br/>';
        links += '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://raceshape.com/strava-segments/' + $(this).data("segmentid") + '?rides=' + $(this).data("effortid") + '-' + $(this).data("komid") + '" title="See where you lost time to the KOM (external link)">RaceShape your PR against KOM</a><br/>';
        links += '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://strava-tools.raceshape.com/exporter/?url=http://app.strava.com/segments/' + $(this).data("segmentid") + '" title="Download the KOM\'s gpx/tcx/crs file for Virtual Partner action via RaceShape (external link)">Virtual Partner GPX download</a><br/>';
        links += '<a data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://veloviewer.com/NewLeaderboard.php?segmentId=' + $(this).data("segmentid") + '" title="View the alternative leaderboard for this segment">Alternative leaderboard</a><br/>';
        links += '<a data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://veloviewer.com/NewLeaderboard.php?segmentId=' + $(this).data("segmentid") + '&athleteId' + athleteId + '" title="View the alternative leaderboard for this segment">Your alternative leaderboard</a><br/>';

        $(this).popover({ title: 'Segment links <button type="button" data-parentid="segment' + $(this).data("segmentid") + '" class="close popoverClose" data-dismiss="alert">x</button>', content: links, trigger: 'manual' });
    });

    $('.segmentLink').click(function () {
        $(this).popover('toggle');

        $('.popoverClose').click(function () {
            $('#' + $(this).data('parentid')).popover('hide');
        });

        $('.popoverLink').click(function () {
            $('#' + $(this).data('parentid')).popover('hide');
        });
        return false;
    });


</script>
