@model VeloTours.ViewModels.SegmentAreaViewModel
@using VeloTours.Models;
@using VeloTours.Helpers;

<h2>@Model.Info.Name
    <a href="@Url.Action("Update", new { athlete = ViewBag.Athlete, area = ViewBag.RideID})"><i class='icon-refresh' style='vertical-align:middle;'></i></a>
</h2>
<p>@Model.Info.Description</p>

<h3>Segments in the areas</h3>
@RenderPage("~/Views/Ride/RidesTablePart.cshtml", @Model)

@if (ViewBag.HasLeaderBoard) 
{
    <h3>Yersey</h3>
    @RenderPage("~/Views/Ride/YerseyPart.cshtml", @Model)

    <h3>LeaderBoard</h3>
    @RenderPage("~/Views/Ride/LeaderboardPart.cshtml", @Model)
}
    
<p>Up to: @Html.ActionLink(@Model.SegmentArea.Region.Info.Name, "Index", "Region", routeValues: new { region = @Model.SegmentArea.RegionID, athlete = ViewBag.Athlete }, htmlAttributes: null)</p>



<script>
    var athleteId = @ViewBag.Athlete
    $('.segmentLink').each(function () {
        var links = '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://www.strava.com/segments/' + $(this).data("segmentid") + '" title="View segment on Strava (external link)">View on Strava</a><br/>';
        links += '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://www.jonathanokeeffe.com/strava/segmentDetails.php?segmentId=' + $(this).data("segmentid") + '" title="View as much detail about this segment as you could possible imagine (external link)">O\'Keeffe\'s Segment History</a><br/>';
        links += '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://raceshape.com/strava-segments/' + $(this).data("segmentid") + '?rides=' + $(this).data("effortid") + '-' + $(this).data("komid") + '" title="See where you lost time to the KOM (external link)">RaceShape your PR against KOM</a><br/>';
        links += '<a target="_blank" data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://strava-tools.raceshape.com/exporter/?url=http://app.strava.com/segments/' + $(this).data("segmentid") + '" title="Download the KOM\'s gpx/tcx/crs file for Virtual Partner action via RaceShape (external link)">Virtual Partner GPX download</a><br/>';
        links += '<a data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://veloviewer.com/NewLeaderboard.php?segmentId=' + $(this).data("segmentid") + '" title="View the alternative leaderboard for this segment">Alternative leaderboard</a><br/>';
        links += '<a data-parentid="segment' + $(this).data("segmentid") + '" class="popoverLink" href="http://veloviewer.com/NewLeaderboard.php?segmentId=' + $(this).data("segmentid") + '&athleteId' + athleteId + '" title="View the alternative leaderboard for this segment">Your alternative leaderboard</a><br/>';

        $(this).popover({ title: 'Segment links <button type="button" data-parentid="segment' + $(this).data("segmentid") + '" class="close popoverClose" data-dismiss="alert">x</button>', content: links, trigger: 'manual' });
    });

    $('.segmentLink').click(function () {
        $(this).popover('toggle');

        $('.popoverClose').click(function () {
            $('#' + $(this).data('parentid')).popover('hide');
        });

        $('.popoverLink').click(function () {
            $('#' + $(this).data('parentid')).popover('hide');
        });
        return false;
    });
</script>
