@model VeloTours.Models.SegmentAreaViewModel
@using VeloTours.Models;
@using VeloTours.Helpers;

@{
    var yellow = @Model.YellowYersey;
    var green = @Model.GreenYersey;
    var polkadot = @Model.PolkaDotYersey;
}

@helper DisplayAthlete(VeloTours.Models.LeaderBoard lboard) {
if(lboard != null)
{
    <b>@HtmlVeloHelpers.AtheleteNameLink(lboard)</b>
    <br />@String.Format("Ridden: {0}", @lboard.NoRidden)
}
}

<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td><img src="~/Content/images/yersey/yellow.png" /></td>
            <td class="top">@DisplayAthlete(yellow)</td>

            <td><img src="~/Content/images/yersey/polkadot.png" /></td>
            <td class="top">@DisplayAthlete(polkadot)</td>

            <td><img src="~/Content/images/yersey/green.png" /></td>
            <td class="top">@DisplayAthlete(green)</td>
        </tr>
    </tbody>
</table>
