@model VeloTours.Models.Athlete

@{
    ViewBag.Title = "Settings";
}

<h2>My Settings</h2>

<table>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Strava ID</td>
        <td>@Model.AthleteID</td>
    </tr>
    <tr>
        <td>Privacy Mode</td>
        <td>@Model.PrivacyMode</td>
    </tr>
    <tr>
        <td>Last updated</td>
        <td>@Model.LastUpdated</td>
    </tr>
</table>

@Html.ActionLink("Update name from Strava", "Update", new { id = Model.AthleteID })
